body {
    background-color: #ffffff;
    text-align: center;
}

p {
    color: #000000;
}

a {
    color: #000000;
}

form {
    color: #000000;
}

.greenText {
    color: #00CC00;
}

.redText {
    color: #FF0000;
}
