{% extends "template.html" %}

{% block title %}
Form
{% endblock %}

{% block description %}
An HTML form.
{% endblock %}

{% block body %}
<form action="{{ url_for('result') }}" method="POST">
  First name: 
  <input type="text" name="first" value="Foo"><br />
  Middle name: 
  <input type="text" name="middle" value="Bar"><br />
  Last name: 
  <input type="text" name="last" value="Baz"><br />
  <input type="submit" value="Submit">
</form>

<p><a href="{{ url_for('index')}}">Click this link to return to front page</a></p>
{% endblock %}