{% extends "template.html" %}

{% block title %}
UPRC Study Room Availability
{% endblock %}

{% block description %}
UPRC Hackathon Project 2019
{% endblock %}

{% block header_script %}
<script type="text/javascript" 
	    src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block body %}

<h1 id="mainHeaderText">UPRC Study Room Availability</h1>

<div id="roomList">
{% for room in rooms %}
{{ room.name }} is {% if room.isOccupied %}<span class="redText">OCCUPIED</span> {% else %}<span class="greenText">VACANT</span>{% endif %}<br />
{% endfor %}
</div>

{% endblock %}
